<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" defer></script>
  <script src="public/js/main.js" defer></script>
  <title>Dashboard</title>
</head>
<body>
  <div class="container">
    {% include "partials/menu.html" %}
    <div class="content">
      <div class="present">
        {% for person in data %}
        <div class="person" data-id="{{person.id}}">
        {% if not person.present %}
        <div class="cover"></div>
        {% else %}
        <div class="cover hidden"></div>
        {% endif %}
          <img src="public/imgs/{{person.profile}}">
          <p>{{ person.name }}</p>
          {% if person.present %}
            <button onclick="signout(event)">Sign Out</button>
            <p class="time">Present at: {{ person.time }}</p>
          {% else %}
            <button onclick="signin(event)">Sign In</button>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>