<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" defer></script>
  <script src="public/js/main.js" defer></script>
  <script src="public/js/reader.js" defer></script>
  <title>Video Feed</title>
</head>
<body>
  <div class="video-reader">
    <video autoplay playsinline></video>
    <p></p>
  </div>
</body>
</html>