<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/style.css">
  <title>Reader</title>
</head>
<body>
  <div class="container">
    {% include "partials/menu.html" %}
    <div class="content reader">
      <div class="present">
        {% for person in data %}
        <div class="person" data-id="{{person.id}}">
        {% if not person.present %}
        <div class="cover"></div>
        {% else %}
        <div class="cover hidden"></div>
        {% endif %}
          <img src="public/imgs/{{person.profile}}">
          <p>{{ person.name }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="video-reader">
        <video autoplay playsinline></video>
        <p></p>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
  <script src="public/js/main.js"></script>
  <script src="public/js/reader.js"></script>
</body>
</html>