@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.video-reader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.video-reader video {
  height: 90vh;
  transform: scaleX(-1);
}

.video-reader p {
  font-weight: 600;
}